{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0f0f0f;
    color: white;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #1c1c1c;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color:  yellow;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    color: yellow;
}

/* Hero */
.hero {
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(45deg, #FFFF00, #990000);
}

.hero h1 {
    font-size: 40px;
}

.hero p {
    margin: 20px 0;
}


.btn {
    background: black;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
}
